
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media only screen and (min-width: 501px) {
  .nav li{
    padding: 2vw 0;
  }
}
@media only screen and (max-width: 500px) {
  .nav li{
    margin: 0;
    max-height: 30px;
  }
}

.nav li{
  transition: all 0.5s ease-in-out;
  border-bottom: solid grey 0.5px;
}

.nav a:hover{
  color: blue !important;
}

.nav{
  min-width: 100px;
  width: 100%;
}

.nav a{
  color: black;
}

.nav a:hover{
  text-decoration: none;
}

.nav-item:hover{
  color: blue !important;
}

.leftNav{
  max-width: 20%;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 575px) {
  .leftNav{
    max-width: 100%;
    height: unset;
    position: unset;
    margin-top: 10px;
  }
  .nav{
    width: 80% !important;
  }
  .nav li{
    padding: 2vw 0;
  }
  .nav-item{
    min-height: 50px;
  }
}
@media (min-width: 576px) {
  #hamburger{
    display: none;
  }
  #close{
    display: none;
  }
}
#hamburger, #close{
    position: absolute;
    right: 10%;
    top: 5%;
    font-size: 25px;
}
#hamburger:hover, #close:hover{
  cursor: pointer;
}
#owl{
  width: 80px;
}

.container {
  max-width: 20000px;
}

h5{
  font-size: 12px;
  color: black;
  font-weight: 600;
}

.nav li:hover{
  transform: scale(1.15);
  transition-duration: .25s;
  text-decoration: none;
}

/**
* Override tooltip styling
*/

.__react_component_tooltip.type-error.show {
  background-color: #FFF;
  box-shadow: -1px -1px 13px 0px rgba(209,207,209,1);
}
.__react_component_tooltip.type-error.place-top:after,
.__react_component_tooltip.type-error.place-top.show:after {
  border-top-color: transparent;
}

#personal-photo{
  width: 20%;
  align-self: center;
  border-radius: 50%;
}